<template>
  <v-container grid-list-md>
    <v-layout
        align-center
        justify-center
        row
    >
        <v-flex xs12 sm12 md12 lg12>
            <div class="title">Evaluation Results</div>
        </v-flex>
    </v-layout>
    <v-layout
      align-baseline
      align-center
      justify-center
      row
    >
      <v-flex xs12 sm3 md3 lg3>
        <v-card>
            <v-card-text>
              <h3 class="headline">General Values</h3>
              <h4>discounted cumulative gain</h4>
              <p>{{evalView['general value']['discounted cumulative gain']}}</p>
              <h4>expected reciprocal rank</h4>
              <p>{{evalView['general value']['expected reciprocal rank']}}</p>
              <h4>mean reciprocal rank</h4>
              <p>{{evalView['general value']['mean reciprocal rank']}}</p>
              <h4>precision at k</h4>
              <p>{{evalView['general value']['precision at k']}}</p>

            </v-card-text>
        </v-card>

      </v-flex>
      <v-flex xs12 sm10 md10 lg10>
        <v-card>
              <v-card-text>
                <h3 class="headline">Metrics</h3>
                <v-data-table
                  :headers="headersMetrics"
                  :items="evalView.topics"
                  class="elevation-1"
                >
                  <template v-slot:items="props">
                    <td>{{ props.item.topic_id }}</td>
                    <td class="text-xs-right">{{ props.item.metrics['discounted cumulative gain'] }}</td>
                    <td class="text-xs-right">{{ props.item.metrics['expected reciprocal rank'] }}</td>
                    <td class="text-xs-right">{{ props.item.metrics['mean reciprocal rank'] }}</td>
                    <td class="text-xs-right">{{ props.item.metrics['precision at k'] }}</td>
                  </template>
                </v-data-table>
              </v-card-text>
        </v-card>
      </v-flex>      
    </v-layout>
  </v-container>
</template>

<script>
import axios from 'axios';
  export default {
    name:'Evaluation',
    data: () => ({
      evalView: [],
      headersMetrics: [
        {text: "Topic ID",value: "topic_id"},
        {text: "discounted cumulative gain", value: "discounted cumulative gain"},
        {text: "expected reciprocal rank",value: "expected reciprocal rank"},
        {text: "mean reciprocal rank",value: "mean reciprocal rank"},
        {text: "precision at k",value: "precision at k"},
      ]
    }),
    methods: {
      getEval: function () {
        axios.get("http://localhost:8100/eval")
        .then((response)  =>  {
          this.evalView = response.data;
          //console.log(Object.keys(this.evalView))

        })
      }
    },
    mounted: function () {
      this.getEval();
    }
  }
</script>

<style>

</style>