<template>
  <v-container grid-list-md>

    <v-layout row v-if="evaMode"
       align-center justify-center
      wrap
    >
      <v-flex xs12 sm8 md8 lg8>
        <v-select
          :items="topics"
          item-text="query"
          item-value="topic"
          label="Select a topic"
          color="green"
          @change="setTopic"
        >
          <template slot="item" slot-scope="data">
            {{ data.item.topic }} - {{ data.item.query }}
          </template>
        </v-select>

          <v-btn
            outline
            color="green"
            flat
            @click="submitEva"
          >
            <span class="mr-2">submit eva</span>
        </v-btn>
      </v-flex>
    </v-layout>

    <v-layout
       align-center justify-center
      wrap
    >
      <v-flex xs12 sm8 md8 lg8>
        <v-text-field
          :loading = loading
          append-icon="search"
          color = "red"
          label="Search for research projects funded by the EU"
          @click:append="getResults('')"
          @keyup.enter.native="getResults('')"
          v-model="query"
        ></v-text-field>
      </v-flex>
    </v-layout>

    <v-layout
      v-for="result in results" :key="result.projectId"
      align-center
      justify-center
      row
    >
      <v-flex xs12 sm8 md8 lg8>
        <v-card>
          <v-card-title primary-title>
            <div>
              <h3 class="headline mb-0"><!-- {{ result.index }} - -->
                <text-highlight
                   :highlightClass="'red--text font-weight-bold'"
                   :highlightStyle="'background:none'"
                   :queries="splittedQuery">{{ result.title }}
                </text-highlight>
              </h3>
              <v-chip-group name="resultMeta">
                <v-chip
                class="ma-2"
                color="red"
                pill
                small
                outline
                @click="getResults(result.acronym)"
              ><v-icon left>notes</v-icon>
                {{result.acronym}}
              </v-chip>

              <v-chip
                v-for="orga in result.organisations" :key="orga.name"
                class="ma-2"
                color="red"
                pill
                small
                outline
                @click="getResults(orga.name)"
              ><v-icon left>home</v-icon>
                {{orga.name}}
              </v-chip>

              <v-chip
                class="ma-2"
                color="red"
                pill
                small
                outline
              ><v-icon left>date_range</v-icon>
                2003
              </v-chip>
            </v-chip-group>
            </div>

          </v-card-title>

          <v-expand-transition>
            <v-card-text>
                <div v-if="!result.show">
                  <text-highlight
                   :highlightClass="'red--text font-weight-bold'"
                   :highlightStyle="'background:none'"
                   :queries="splittedQuery">{{ result.summary.substring(0,200) }} ... 
                  </text-highlight>
                </div>
                <div v-else>
                  <text-highlight
                   :highlightClass="'red--text font-weight-bold'"
                   :highlightStyle="'background:none'"
                   :queries="splittedQuery">{{ result.summary }}
                   </text-highlight>
                </div>
            </v-card-text>
          </v-expand-transition>

          <v-card-actions>

            <!--
            <v-fade-transition>
              <div v-show="!result.show">
                <v-card-text>
                  {{ result.summary.substring(0,8) }}
                </v-card-text>
              </div>
            </v-fade-transition>
            <v-expand-transition>
              <div v-show="result.show">
                <v-card-text>
                  {{ result.summary }}
                </v-card-text>
              </div>
            </v-expand-transition> --> 
            <v-spacer></v-spacer>

            <v-btn
            icon
            @click="result.show = !result.show"
            >
              <v-icon>{{ result.show ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</v-icon>
            </v-btn>

          </v-card-actions>
          <v-card-actions>
              <v-switch v-if="evaMode" v-model="evaResults" color="red" label="relevant" :value="result.projectId"></v-switch>
          </v-card-actions>
      </v-card>
      </v-flex>
      
    </v-layout>
  </v-container>
</template>

<script>
import axios from 'axios';
  export default {
    name:'Search',
    props : {
      evaMode: Boolean,
    },
    data: () => ({
      query: "",
      results: [],
      topics: [],
      currentTopic: "",
      loading: false,
      info: "",
      show: false,
      evaResults: []
    }),
    methods: {
      getResults: function (directQuery) {
        if (directQuery != '') {
          this.query = directQuery;
          this.$matomo.trackSiteSearch(this.query,'searchViaSiteElement',this.results.length);
          //directQuery = this.query;
        } else {
            this.$matomo.trackSiteSearch(this.query,'searchViaField',this.results.length);
        }
        
        this.loading = true;
        axios.get("http://localhost:8100/search?query=" + this.query)
        .then((response)  =>  {
          this.loading = false;
          this.results = response.data.results;
          this.info = response;
          this.results = this.results.map(results => ({
            ... results,
            show: false
          }))
        })
        
      },
      getTopics: function () {
        axios.get("http://localhost:8100/topics")
        .then((response)  =>  {
          // this.topics = Object.entries(response.data.topics);
          this.topics = response.data.topics;
          //console.log(Object.keys(this.topics))


          //this.topics = response.data;
          //console.log(response);
          //console.log(response.data);
          //console.log(Object.entries(response.data));
        })
      },
    setTopic: function(topic) {
      this.currentTopic = topic;
      //console.log(this.currentTopic);
      //console.log(this.topics.find(o => o.topic === this.currentTopic).query);
      
      //do a new search with the new topic
      this.getResults(this.topics.find(o => o.topic === this.currentTopic).query);
      
      // empty results for this topic
      this.evaResults = [];
      // let obj = arr.find(o => o.name === 'string 1');
    },
    submitEva: function(){
      //console.log(this.evaResults);
      //for (eva in this.evaResults) {

      //}

      var payLoad = {};
      payLoad.id = this.currentTopic;
      payLoad.relevant = this.evaResults;

      axios.put("http://localhost:8100/eval",payLoad)
        .then((response)  =>  {
          // console.log(response);
        })
      
      //this.$matomo.trackEvent('Buttons', 'Click', 'demo', 10);
      //this.$matomo.trackPageView(["einTest"]);

    }
    },
    mounted: function () {
      this.getTopics();
    },
    computed: {
      splittedQuery: function() {
        return this.query.split(' ')
      }
    }
  }
</script>

<style>

</style>
