<template>
  <v-container grid-list-md>
    <v-layout
        align-center
        justify-center
        row
    >
        <v-flex xs12 sm8 md8 lg8>
            <div class="title">Sources</div>
        </v-flex>
    </v-layout>
    <v-layout
      v-for="source in sources" :key="source.id"
      align-center
      justify-center
      row
    >
      <v-flex xs12 sm8 md8 lg8>
        <v-card>
            <v-card-text>
              <h3 class="headline">{{ source.project }}</h3>
              <div> {{ source.description}} </div>
              <div> <a v-bind:href="source.url" target="_blank">{{source.url}}</a> </div>
              
            </v-card-text>
      </v-card>
      </v-flex>
      
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    name:'Sources',
    data: () => ({
        sources: [{
            id: 1,
            project: "Vue.js",
            description: "used to build the single-page-frontend",
            url: "https://vuejs.org/"
        },
        {
            id: 2,
            project: "Vuetify",
            description: "used to show the frontend in a nice material design",
            url: "https://vuetifyjs.com"
        },
        {
            id: 3,
            project: "Freepik",
            description: "used to build the project logo (compass), Icon made by Freepik from www.flaticon.com",
            url: "https://www.flaticon.com/free-icon/drawing-compass_66156"
        }]
    })
  }
</script>

<style>

</style>