<template>
  <v-app>
    <v-toolbar fill-height text-xs-center app>
      <v-toolbar-title class="headline text-uppercase" >
        <span>Ree</span>
        <span class="font-weight-light">SE</span>
        <img src="./assets/logoCompassBorderlessRed.svg" alt="Logo Reesearch" height="25" class="red--text" style="margin-bottom:-2px">
        <span class="font-weight-light">RCH</span>
      </v-toolbar-title>

      <v-spacer></v-spacer>

      <v-switch
        color="red"
        v-model="evaMode"
        label="Eva-Mode"
      ></v-switch>

      <v-btn
        outline
        color="red"
        flat
        @click="setSite('Search')"
      >
        <span class="mr-2">search</span>
      </v-btn>

      <v-btn
        outline
        color="red"
        flat
        @click="setSite('Sources')"
      >
        <span class="mr-2">sources</span>
      </v-btn>

      <v-btn
        outline
        color="red"
        flat
        href="https://gitlab.com/comoelcometa/cordis_search"
        target="_blank"
      >
        <span class="mr-2">repository @gitlab</span>
      </v-btn>

      <v-btn
        v-if="evaMode"
        outline
        color="green"
        flat
        @click="setSite('Evaluation')"
      >
        <span class="mr-2">evaluation</span>
      </v-btn>
    </v-toolbar>

    <v-content>
      <Search :evaMode="evaMode" v-if="currentComponent === 'Search'"/>
      <Sources v-if="currentComponent === 'Sources'"/>
      <Evaluation v-if="currentComponent === 'Evaluation'"/>
    </v-content>
    
    <v-footer dark height="auto">
      <v-container>
        <v-layout
          align-center justify-center
          wrap
        >
          <div>Made with <v-icon small class="red--text">favorite_border</v-icon> and Vue.js, , Vuetify, Python Flask and Elastic Search by E. Haley & C. Böhm</div>
        </v-layout>
      </v-container>
    </v-footer>
  </v-app>
</template>

<script>
import Search from './components/Search'
import Sources from './components/Sources'
import Evaluation from './components/Evaluation'

export default {
  name: 'App',
  components: {
    Search,
    Sources,
    Evaluation
  },
  data () {
    return {
      results: [],
      currentComponent: 'Search',
      evaMode: false
    }
  },
  methods: {
  	setSite: function(component) {
  		this.currentComponent = component;
        this.$matomo.trackPageView('Subpage - ' + component);
  	},
  }
}
</script>
